# Numpy

In [1]:
import numpy as np

In [3]:
a = np.array({1:100})
a

array({1: 100}, dtype=object)

In [4]:
a.ndim

0

In [5]:
b = np.array(100)
b

array(100)

In [6]:
b.ndim

0

### Why dim is 0 in above cases?

## Indexing & slicing over array

In [2]:
import numpy as np
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [3]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [4]:
a.ndim

2

In [5]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [6]:
a.shape

(3, 4)

## Indexing

In [7]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [8]:
#default indexing will access the rows
a[0]

array([1, 2, 3, 4])

In [12]:
a[2]

array([ 9, 10, 11, 12])

In [15]:
a[2][2]

11

In [16]:
a[2,2]

11

In [17]:
id(a)

140285890534016

In [18]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [22]:
#11==> 21
a[-1][2]=21

In [23]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [24]:
id(a)

140285890534016

## slicing

In [25]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [27]:
#using indexing we can access one row at a time
# but now i want to access multiple rows
a[1:]

array([[ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [29]:
a[:2]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [30]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [31]:
a[::2]

array([[ 1,  2,  3,  4],
       [ 9, 10, 21, 12]])

In [32]:
a[:]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

#### columns access?

In [33]:
a[:,:]#[rows,columns]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [34]:
a[:,0]

array([1, 5, 9])

In [35]:
a[:,3]

array([ 4,  8, 12])

In [36]:
a[:,-1]

array([ 4,  8, 12])

In [37]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [40]:
a[:,1:3]

array([[ 2,  3],
       [ 6,  7],
       [10, 21]])

In [42]:
a[:,1:4:2]

array([[ 2,  4],
       [ 6,  8],
       [10, 12]])

In [43]:
a[:,1::2]

array([[ 2,  4],
       [ 6,  8],
       [10, 12]])

In [44]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [45]:
a[:,::2]

array([[ 1,  3],
       [ 5,  7],
       [ 9, 21]])

In [46]:
a[:,::-1]

array([[ 4,  3,  2,  1],
       [ 8,  7,  6,  5],
       [12, 21, 10,  9]])

In [47]:
a[::-1,:]

array([[ 9, 10, 21, 12],
       [ 5,  6,  7,  8],
       [ 1,  2,  3,  4]])

In [52]:
a[0][::-1]

array([4, 3, 2, 1])

In [53]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [64]:
# 6 ,7 in reverse order
a[1,2:0:-1]

array([7, 6])

In [69]:
a[1,1:3][::-1]

array([7, 6])

In [70]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [ ]:
# Access the corner elements
# change the corner elements to 0

# access 6,7 10,21==>1,2,3,4

# access 2,4 10,12 ==> 'A'

# i want to access 1,2 4 column
# i want to access 1,3,4 column

In [71]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

## Conditional access to values

In [72]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [74]:
# values greater than 6
a>6

array([[False, False, False, False],
       [False, False,  True,  True],
       [ True,  True,  True,  True]])

In [75]:
a[a>6]

array([ 7,  8,  9, 10, 21, 12])

In [76]:
a[a==100]

array([], dtype=int64)

In [77]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [78]:
a==3

array([[False, False,  True, False],
       [False, False, False, False],
       [False, False, False, False]])

In [79]:
a>6

array([[False, False, False, False],
       [False, False,  True,  True],
       [ True,  True,  True,  True]])

In [82]:
(a==3) | (a>6)

array([[False, False,  True, False],
       [False, False,  True,  True],
       [ True,  True,  True,  True]])

In [83]:
3==3 or 4>5

True

In [84]:
a[(a==3) | (a>6)]

array([ 3,  7,  8,  9, 10, 21, 12])

In [86]:
a[(a<20) & (a>6)]

array([ 7,  8,  9, 10, 12])

In [87]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

## Direct math operations on Numpy array

In [88]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [89]:
a+10

array([[11, 12, 13, 14],
       [15, 16, 17, 18],
       [19, 20, 31, 22]])

In [91]:
a*2

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 42, 24]])

In [92]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 21, 12]])

In [93]:
a+=10

In [94]:
a

array([[11, 12, 13, 14],
       [15, 16, 17, 18],
       [19, 20, 31, 22]])

In [95]:
a

array([[11, 12, 13, 14],
       [15, 16, 17, 18],
       [19, 20, 31, 22]])

In [96]:
a<16

array([[ True,  True,  True,  True],
       [ True, False, False, False],
       [False, False, False, False]])

In [99]:
a[a<16]+=5

In [100]:
a

array([[16, 17, 18, 19],
       [20, 16, 17, 18],
       [19, 20, 31, 22]])

In [101]:
~a

array([[-17, -18, -19, -20],
       [-21, -17, -18, -19],
       [-20, -21, -32, -23]])

In [102]:
a

array([[16, 17, 18, 19],
       [20, 16, 17, 18],
       [19, 20, 31, 22]])

In [103]:
a

array([[16, 17, 18, 19],
       [20, 16, 17, 18],
       [19, 20, 31, 22]])

In [104]:
16 in a

True

## Vector math on numpy array

In [1]:
import numpy as np
x = np.array([[1,2],[3,3]])
x

array([[1, 2],
       [3, 3]])

In [3]:
y = np.array([[2,2],[4,4]])
y

array([[2, 2],
       [4, 4]])

In [4]:
x+y

array([[3, 4],
       [7, 7]])

In [5]:
np.add(x,y)

array([[3, 4],
       [7, 7]])

In [6]:
x+=y

In [7]:
x

array([[3, 4],
       [7, 7]])

In [8]:
y

array([[2, 2],
       [4, 4]])

In [9]:
x-y

array([[1, 2],
       [3, 3]])

In [10]:
np.subtract(x,y)

array([[1, 2],
       [3, 3]])

In [14]:
np.floor_divide(x,y)

array([[1, 2],
       [1, 1]])

In [15]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [17]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [ ]:
# without using eye and identity create 5x5 identity matrix

In [19]:
d = np.array([12,3,55,66,99,2,1,0,57])
d

array([12,  3, 55, 66, 99,  2,  1,  0, 57])

In [20]:
#sort the array
d.sort()

In [21]:
d

array([ 0,  1,  2,  3, 12, 55, 57, 66, 99])

In [22]:
d = np.array([12,3,55,66,99,2,1,0,57])
d

array([12,  3, 55, 66, 99,  2,  1,  0, 57])

In [23]:
np.sort(d)

array([ 0,  1,  2,  3, 12, 55, 57, 66, 99])

In [24]:
f = np.array([[1,2],[23,4],[0,65],[11,22]])
f

array([[ 1,  2],
       [23,  4],
       [ 0, 65],
       [11, 22]])

In [25]:
#rowwise sort==>axis=1==> means row
np.sort(f,axis=1)

array([[ 1,  2],
       [ 4, 23],
       [ 0, 65],
       [11, 22]])

In [26]:
#columnwise sort
np.sort(f,axis=0)

array([[ 0,  2],
       [ 1,  4],
       [11, 22],
       [23, 65]])

In [27]:
f

array([[ 1,  2],
       [23,  4],
       [ 0, 65],
       [11, 22]])

In [28]:
f.sort(axis=0)

In [29]:
f

array([[ 0,  2],
       [ 1,  4],
       [11, 22],
       [23, 65]])

In [30]:
# Aggregate operations
# min(), max(), std(), mean(),sum()
f

array([[ 0,  2],
       [ 1,  4],
       [11, 22],
       [23, 65]])

In [31]:
f.min()

0

In [32]:
f.min(axis=1)

array([ 0,  1, 11, 23])

In [33]:
f.min(axis=0)

array([0, 2])

In [ ]:
#do the same for max(), std(), mean(),sum() var() corrcoef()

In [ ]:
#np.power(), array_equal(),sqrt(),sin(),cos(),log(),abs(),ceil(), floor(), round()